<div class="card" style="display: inline-block">
  <div class="card-body px-0 pb-2">
    <div class="table-responsive">
      <table class="table align-items-center mb-0">
        <thead>
          <th>ID</th>
          <th>Название</th>
          <th>Категория</th>
          <th>Приоритет</th>
          <th>Статус</th>
          <th>Дата</th>
        </thead>
        <tbody>
          <tr *ngFor="let task of tasks id">
            <td>
              <div class="d-flex px-2 py-1">
                {{task.id}}
              </div>
            </td>
            <td>
              <div class="d-flex flex-column justify-content-center title">
                <h6 class="mb-0 text-sm">{{task.title}}</h6>
              </div>
            </td>
            <td class="align-middle text-center text-sm category">
              <span class="text-xs font-weight-bold">{{task?.category?.title ? task?.category?.title : 'Нет категории!'}}</span>
            </td>
            <td class="align-middle text-center text-sm priority">
              <span class="text-xs font-weight-bold">{{task?.priority?.title}}</span>
            </td>
            <td class="align-middle text-center text-sm completed">
              <div class="form-check form-switch ps-0 ms-auto my-auto">
                <input class="form-check-input mt-1 ms-auto" type="checkbox" id="navbarFixed" [checked]="task?.completed">
              </div>
              <!-- <input class="form-check-input mt-1 ms-auto" type="checkbox" [checked]="task?.completed"/> -->
              <!-- <span class="text-xs font-weight-bold">{{task?.completed ? task?.completed : 'Нет статуса!'}}</span> -->
            </td>
            <td class="align-middle text-center text-sm completed">
              <span class="text-xs font-weight-bold">{{task?.date ? (task?.date | date: "MM dd yyyy") : 'Нет даты!'}}</span>
            </td>
            <!-- <td class="align-middle">
              <div class="progress-wrapper w-75 mx-auto">
                <div class="progress-info">
                  <div class="progress-percentage">
                    <span class="text-xs font-weight-bold">60%</span>
                  </div>
                </div>
                <div class="progress">
                  <div
                    class="progress-bar bg-gradient-info w-60"
                    role="progressbar"
                    aria-valuenow="60"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
